*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: black;
}

.frame{
    width:500px;
    height: min-content;
    background-color: aliceblue;
    border-radius: 12px;
    padding: 28px;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-box{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    background-color: paleturquoise;
    padding: 12px 16px;
    border-radius: 10%;


}
.input-box ::placeholder{
    color: black;
}

.search-box button{
    width: 46px;
    height: 46px;
    background-color: blanchedalmond;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;

}

.search-box button:hover{
    background-color: azure;
}

.weather-body{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}

.weather-body img{
    width: 60%;
}

.weather-box{
    margin-block:20px ;
    text-align: center;
}

.weather-box .temperature{
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

.weather-box .temperature sup{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
}

.weather-box .description{
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.humidity, .wind{
    display: flex;
    align-items: center;
}

.humidity{
    margin-left: 20px;
}
.wind{
    margin-right: 20px;
}

.weather-details i{
    font-size: 30px;

}

.weather-details text{
    margin-left: 10px;
    font-size: 20px;
}

.text span{
    font-size: 20px;
    font-weight: 700;
}

.location-not-found{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.location-not-found h1{
    font-size: 20px;
    color: azure;
    margin-block-end: 15px;
}

.location-not-found img{
    width: 80%;
}